<style>

    .w3-navbar {
        font-family: "Montserrat", sans-serif;
        font-size: 40px
    }

</style>

<!-- Navbar -->
<div class="w3-top">
	<ul class="w3-navbar w3-theme w3-card-2 w3-left-align w3-large">
            <li class="w3-hide-medium w3-hide-large w3-opennav w3-right">
                <a class="w3-padding-large w3-hover-white w3-large w3-theme" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
            </li>
            <li><a href="#" class="w3-padding-large w3-white">Home</a></li>
            <li class="w3-hide-small"><a href="#" class="w3-padding-large w3-hover-white">Team</a></li>
            <li class="w3-hide-small"><a href="products/MachineHandler" class="w3-padding-large w3-hover-white">Products</a></li>
        </ul>

        <!-- Navbar on small screens -->
        <div id="navDemo" class="w3-hide w3-hide-large w3-hide-medium">
            <ul class="w3-navbar w3-left-align w3-large w3-black">
                <li class=""><a href="#" class="w3-padding-large w3-hover-white">Team</a></li>
                <li class=""><a href="products" class="w3-padding-large w3-hover-white">Products</a></li>
            </ul>
        </div>
</div>

